<header class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link nav-logo-custom" href="/home"><img src="/assets/logo.png" height="70px" width="70px"></a>
                </li>
                <li class="nav-item nav-text-custom">
                    <a class="nav-link" routerLink="/tournaments">Tournaments</a>
                </li>
                <li class="nav-item nav-text-custom">
                    <a class="nav-link" routerLink="/matches">Matches</a>
                </li>
                <li class="nav-item nav-text-custom">
                    <a class="nav-link" routerLink="/streams">Streams</a>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <ul id="text1" class="nav justify-content-end">
                <li class="nav-item nav-text-custom">
                        <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Login
                                </button>
                                <div class="dropdown-menu">
                                <login></login>
                                </div>
                              </div>
                   
                </li>
                <li class="nav-item nav-text-custom">
                    <!-- <span class="glyphicon glyphicon-search"></span> -->
                    <a class="nav-link glyphicon glyphicon-search" href="#" onclick="showStuff('answer1', 'text1', this); return false;"> Search</a>
                </li>
                <li class="nav-item nav-text-custom">
                    <!-- <span class="glyphicon glyphicon-globe"></span> -->
                    <a class="nav-link glyphicon glyphicon-globe" href="/language"> English</a>
                </li>
            </ul>
            <ul id="answer1" class="nav justify-content-end" style="display: none;">
                <li class="nav-item nav-text-custom">
                    <!-- <a class="nav-link glyphicon glyphicon-search" href="#" onclick="showStuff('text1', 'answer1', this); return false;"> kappa</a> -->
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="showStuff('text1', 'answer1', this); return false;">Search</button>
                        </form>
                    </nav>
                </li>
            </ul>
        </div>
    </div>
</header>
