.container-fluid
{
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: #0c1601;
}
.nav-logo-custom
{
    margin: 10px;
}
.nav-text-custom
{
    margin-top: 33px; 
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link
{
    color: white;
    font-weight: bold;
    -webkit-transition: text-decoration 1s;
    transition: utext-decoration 1s;
}
.nav-link:hover
{
    text-decoration: underline;
    background-color: #0c1601;
}
