<header class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link nav-logo-custom" href="/home"><img src="/assets/logo.png" height="70px" width="70px"></a>
                </li>
                <li class="nav-item nav-text-custom">
                    <a class="nav-link" href="/tournaments">Tournaments</a>
                </li>
                <li class="nav-item nav-text-custom">
                    <a class="nav-link" href="/matches">Matches</a>
                </li>
                <li class="nav-item nav-text-custom">
                    <a class="nav-link" href="/streams">Streams</a>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="nav justify-content-end">
                <li class="nav-item nav-text-custom">
                    <!-- <span class="glyphicon glyphicon-user"></span> -->
                    <a class="nav-link glyphicon glyphicon-user" href="/login"> Login</a>
                </li>
                <li class="nav-item nav-text-custom">
                    <!-- <span class="glyphicon glyphicon-search"></span> -->
                    <a class="nav-link glyphicon glyphicon-search" href="/search"> Search</a>
                </li>
                <li class="nav-item nav-text-custom">
                    <!-- <span class="glyphicon glyphicon-globe"></span> -->
                    <a class="nav-link glyphicon glyphicon-globe" href="/language"> English</a>
                </li>
            </ul>
        </div>
    </div>
</header>
