<header class="header">
    <div>
        <div class="row-view">
            <div class="baby"><img src="https://www.grouptravelvideos.com/images/client/00954/resources/you%20logo%20here.png" height="50px" width="150px"></div>
  
            <div class="row-view right-align baby">
                <button routerLink="/torunaments" type="button" class="btn btn-deafult baby">
                    Matches
                </button>
                <button routerLink="/matches" type="button" class="btn btn-deafult baby">
                    Matches
                </button>
                <button routerLink="/streams" type="button" class="btn btn-deafult baby">
                    <span class="glyphicon glyphicon-user"></span>
                    Login
                </button>
                <button routerLink="/search" type="button" class="btn btn-deafult baby">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
                <button routerLink="/language" type="button" class="btn btn-deafult baby">
                    <span class="glyphicon glyphicon-globe"></span>
                    English
                </button>

            </div>
        </div>
    </div>
</header>