<div class="col-md-6 col-md-offset-3">
  <h2>Stream</h2>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
          <label for="description">Description</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required />
          <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !scoreteam1.valid }">
          <label for="scoreteam1">ScoreTeam1</label>
          <input type="scoreteam1" class="form-control" name="scoreteam1" [(ngModel)]="model.scoreteam1" #scoreteam1="ngModel" required />
          <div *ngIf="f.submitted && !scoreteam1.valid" class="help-block">Game is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !scoreteam2.valid }">
        <label for="scoreteam2">ScoreTeam2</label>
        <input type="text" class="form-control" name="scoreteam2" [(ngModel)]="model.scoreteam2" #scoreteam2="ngModel" required />
        <div *ngIf="f.submitted && !scoreteam2.valid" class="help-block">scoreteam2 is required</div>
        </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !date.valid}">
      <label for="date">Date and time</label>
      <input class="form-control" type="datetime-local"  name="date" [(ngModel)]="model.date" #date="ngModel">
      <div *ngIf="f.submitted && !date.valid" class="help-block">date is required</div>
      </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !team1.valid }">
      <label for="team1">First Team</label>
      <input type="text" class="form-control" name="team1" [(ngModel)]="model.team1" #team1="ngModel" required />
      <div *ngIf="f.submitted && !team1.valid" class="help-block">scoreteam2 is required</div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !team2.valid }">
    <label for="team2">Second Team</label>
    <input type="text" class="form-control" name="team2" [(ngModel)]="model.team2" #team2="ngModel" required />
    <div *ngIf="f.submitted && !team2.valid" class="help-block">scoreteam2 is required</div>
</div>
  
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Login</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/register']" class="btn btn-link">Register</a>
      </div>
  </form>
</div>