<div class=container>

<p>
    Najmocniejsi w USA? 
    Zven
    
    Zven — były prowadzący G2
    
    Migracje wartościowych zawodników do Północnej Ameryki dzieją się nie od dziś. Drużyny, które stać na zaoferowanie lepszych kontraktów, wyłapują talenty z Europy. Tak było w przypadku Bjergsena, Froggena i innych, a także byłych zawodników G2, czyli Jespera „Zven” Svenningsena oraz Alfonsa „Mithy” Rodrígueza. 
    
    Mithy i Zven spotkali się w Origen i grali tam razem przez ponad rok. W chwili gdy dołączyli do G2 Esports, ich współpraca była już naprawdę zadowalającym poziomie. Bardzo szybko stali się znani i uważani za jeden z najlepszych duetów dolnej alei. 
    
    Mithy, poza byciem genialnym wspierającym, odgrywał także inną ważną rolę w drużynie. Jako najbardziej doświadczona osoba, z największym stażem na scenie e-sportowej, jego udział w planowaniu strategii oraz dbaniu o efektywne zgranie w G2 nie był bez znaczenia. 
</p>
<div class="carousel"> 

 
<ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem class="imgStyle">
           <img src="{{imageSources[0]}}" alt="Lol">
          </ngx-item>
          <ngx-item NgxCarouselItem class="imgStyle">
            <img src="{{imageSources[1]}}" alt="Lol">
          </ngx-item>
          <ngx-item NgxCarouselItem class="imgStyle">
            <img src="{{imageSources[2]}}" alt="Lol">
          </ngx-item>
          <ngx-item NgxCarouselItem class="imgStyle">
            <img src="{{imageSources[3]}}" alt="Lol">
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
</div>
</div>