<div class="py-5">
  <div class="container-fluid">
    <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && create_tournament()" #f="ngForm" novalidate>
      <fieldset>
      
        <!-- endOfEvent, Game, NumberOfParticipants, StartOfEvent -->
      <!-- Select Basic -->
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Game.valid }">
        <label class="col-md-4 control-label" for="game">Wybierz grę</label>
        <div class="col-md-4">
          <select id="Game" name="Game" class="form-control" [(ngModel)]="model.Game" #Game="ngModel">
            <option value="League of Legends">League of Legends</option>
            <option value="Counter Strike Global Offensive">Counter Strike Global Offensive</option>
            <option value="Dota 2">Dota 2</option>
          </select>
        </div>
      </div>
         <!-- endOfEvent, Game, NumberOfParticipants, StartOfEvent -->
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !StartOfEvent.valid}">
        <label class="col-md-4 control-label" for="StartOfEvent">Start eventu</label>
        <div class="col-md-4">
          <input class="form-control" type="datetime-local"  name="StartOfEvent" [(ngModel)]="model.StartOfEvent" #StartOfEvent="ngModel" required />
          <div *ngIf="f.submitted && !StartOfEvent.valid" class="help-block">date is required</div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !endOfEvent.valid}">
        <label class="col-md-4 control-label" for="endOfEvent">Start eventu</label>
        <div class="col-md-4">
          <input class="form-control" type="datetime-local"  name="endOfEvent" [(ngModel)]="model.endOfEvent" #endOfEvent="ngModel" required />
          <div *ngIf="f.submitted && !endOfEvent.valid" class="help-block">date is required</div>
        </div>
      </div>     
      <!-- endOfEvent, Game, NumberOfParticipants, StartOfEvent -->
      <!-- Multiple Radios (inline) -->
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !NumberOfParticipants.valid}">
        <label class="col-md-4 control-label" for="NumberOfParticipants">Liczba graczy/drużyn</label>
        <div class="col-md-4"> 
          <label class="radio-inline" for="NumberOfParticipants-0">
            <input type="radio" name="NumberOfParticipants" id="NumberOfParticipants-0" value="8" checked="checked" [(ngModel)]="model.NumberOfParticipants" #NumberOfParticipants="ngModel">
            8
          </label> 
          <label class="radio-inline" for="NumberOfParticipants-1">
            <input type="radio" name="NumberOfParticipants" id="NumberOfParticipants-1" value="16">
            16
          </label> 
          <label class="radio-inline" for="NumberOfParticipants-2">
            <input type="radio" name="NumberOfParticipants" id="NumberOfParticipants-2" value="32">
            32
          </label> 
          <label class="radio-inline" for="NumberOfParticipants-3">
            <input type="radio" name="NumberOfParticipants" id="NumberOfParticipants-3" value="64">
            64
          </label>
        </div>
      </div>

      <!-- https://jdewit.github.io/bootstrap-timepicker/ -->
      <!-- https://bootsnipp.com/forms -->
      
      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <button [disabled]="loading" id="button1id" name="button1id" class="btn btn-success">Stwórz</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button id="button2id" name="button2id" class="btn btn-danger">Anuluj</button>
        </div>
      </div>
      
      </fieldset>
    </form>   
  </div>
</div>