<div class="py-5">
  <div class="container-fluid">
    <form class="form-horizontal">
      <fieldset>
      
      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="map">Wybierz mapę</label>
        <div class="col-md-4">
          <select id="map" name="map" class="form-control">
            <option value="summoners_rift">Summoners Rift</option>
            <option value="aram">ARAM</option>
            <option value="twisted_treeline">Twisted Treeline</option>
          </select>
        </div>
      </div>
      
      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="format">Format rozgrywki</label>
        <div class="col-md-4">
          <select id="format" name="format" class="form-control">
            <option value="1">Best of 1</option>
            <option value="3">Best of 3</option>
            <option value="5">Best of 5</option>
          </select>
        </div>
      </div>
      
      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="type">Typ rogrywki</label>
        <div class="col-md-4">
          <select id="type" name="type" class="form-control">
            <option value="1v1">1v1</option>
            <option value="2v2">2v2</option>
            <option value="3v3">3v3</option>
            <option value="4v4">4v4</option>
            <option value="5v5">5v5</option>
          </select>
        </div>
      </div>
      
      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="players_number">Liczba graczy/drużyn</label>
        <div class="col-md-4"> 
          <label class="radio-inline" for="players_number-0">
            <input type="radio" name="players_number" id="players_number-0" value="8" checked="checked">
            8
          </label> 
          <label class="radio-inline" for="players_number-1">
            <input type="radio" name="players_number" id="players_number-1" value="16">
            16
          </label> 
          <label class="radio-inline" for="players_number-2">
            <input type="radio" name="players_number" id="players_number-2" value="32">
            32
          </label> 
          <label class="radio-inline" for="players_number-3">
            <input type="radio" name="players_number" id="players_number-3" value="64">
            64
          </label>
        </div>
      </div>
      <div class="form-group">
          <label class="col-md-4 control-label" for="time">Termin turnieju</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="time" name="time" class="form-control" placeholder="" type="text" required="">
              <span class="input-group-addon glyphicon glyphicon-time"></span>
            </div>
          </div>
      </div>

      <script type="text/javascript">
          $('#timepicker1').timepicker();
      </script>

      <!-- https://jdewit.github.io/bootstrap-timepicker/ -->
      <!-- https://bootsnipp.com/forms -->
      
      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="button1id"></label>
        <div class="col-md-8">
          <button id="button1id" name="button1id" class="btn btn-success">Stwórz</button>
          <button id="button2id" name="button2id" class="btn btn-danger">Anuluj</button>
        </div>
      </div>
      
      </fieldset>
    </form>   
  </div>
</div>