<div class="d-flex flex-row justify-content-center">
  <div class="p-2">
    <div class="card" style="width: 34rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/4/41/Summoner%27s_Rift_Map_Preview.jpg/revision/latest/scale-to-width-down/300?cb=20170227032638" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Summoners Rift</h3>
        <p class="card-text">Summoner's Rift to pierwsze i najbardziej popularne Fields of Justice – stanowi standard dla turniejów League of Legends w rozgrywce 5v5.
           Gra na mapie dzieli się przeważnie na odrębne fazy – zaczynając się od pojedynków na alei i przechodząc w starcia całych drużyn. 
           Zwycięża się poprzez wdarcie się do bazy wroga i zniszczenie nexusa. Podzielone jest na dwie identyczne połowy i zawiera trzy aleje, 
           prowadzące do bazy wroga. Każdej z nich bronią trzy wieże oraz inhibitor, a samego nexusa – dwie kolejne wieże. Po obu stronach mapy rozciąga się rozległa dżungla, 
           w której znajdują się potężne wzmocnienia, a na centralnej rzece pojawiają się dwa potężne potwory, których pokonanie zapewnia premię dla całej drużyny.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card" style="width: 34rem;">
      <img class="card-img-top" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/9/9a/Twisted_Treeline_Map_Preview.jpg/revision/latest?cb=20140612032104" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Twisted Treeline</h3>
        <p class="card-text">Twisted Treeline to mapa z dwiema alejami, a głównym zadaniem trzyosobowych drużyn jest zniszczenie Nexusa przeciwnika. 
          Pomiędzy alejami znajduje się dżungla, w której znajduje się kilka obozów neutralnych potworów oraz dwa ołtarze – wschodni i zachodni, 
          które zapewniają dodatkowe korzyści oraz opowiadają historię tego miejsca. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="p-2">
    <div class="card" style="width: 34rem;">
      <img class="card-img-top" src="https://eune.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/HowlingAbyss_Article.jpg?itok=7eek225F" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Twisted Treeline</h3>
        <p class="card-text">Twisted Treeline to mapa z dwiema alejami, a głównym zadaniem trzyosobowych drużyn jest zniszczenie Nexusa przeciwnika. 
          Pomiędzy alejami znajduje się dżungla, w której znajduje się kilka obozów neutralnych potworów oraz dwa ołtarze – wschodni i zachodni, 
          które zapewniają dodatkowe korzyści oraz opowiadają historię tego miejsca. </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid justify-content-center">
        <table class="table table-hover table-custom col-md-6">
          <tbody>
            <tr>
              <!-- gra -->
              <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></td>
            </tr>
          </tbody>
        </table>
</div>
