<div class="container-fluid">
  <div class="col-md-10">
      <table class="table table-hover table-custom">
        <tbody>
          <tr>
            <!-- gra -->
            <td class="col-md-2">League of Legends</td>
            <!-- mapa -->
            <td class="col-md-2">Summoners Rift</td>
            <!-- nazwa -->
            <td class="col-md-2">Turniej 5v5</td>
            <!-- ilość gier -->
            <td class="col-md-2">Best of 3</td>
            <!-- ilość graczy -->
            <td class="col-md-2">13/16 graczy</td>
            <!-- data rozpoczęcia -->
            <td class="col-md-2">1h 37m</td>
          </tr>
          <tr>
              <!-- gra -->
              <td class="col-md-2">League of Legends</td>
              <!-- mapa -->
              <td class="col-md-2">Summoners Rift</td>
              <!-- nazwa -->
              <td class="col-md-2">Turniej 5v5</td>
              <!-- ilość gier -->
              <td class="col-md-2">Best of 3</td>
              <!-- ilość graczy -->
              <td class="col-md-2">13/16 graczy</td>
              <!-- data rozpoczęcia -->
              <td class="col-md-2">1h 37m</td>
            </tr>
        </tbody>
      </table>

  </div>
  <div class="col-md-2">
    <table class="table table-bordered">
      <tbody>
        <tr class="">
          <td class=""><button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- mapa, nazwa, ilość graczy, data rozpoczęcia -->





<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
  <!-- </div> -->