<div class="container-fluid">
  <div class="col-md-9 table-custom">
      <a><img src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/map/map11.png" height="70px" width="70px"></a>

  </div>
  <!-- <div class="d-flex">
    <div class="p-2">
      <table class="table table-bordered table-custom_1">
        <tbody>
            <tr>
              <td class="col">John</td>
            </tr>
        </tbody>
      </table>
            <tr>
              <td class="col">John</td>
            </tr>
   </div>
    <div class="ml-auto p-2">Flex item</div>
  </div> -->
  <div class="col-md-3 table-custom">
    przycisk
  </div>
</div>





<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
  <!-- </div> -->