<div class="select_match">
  <div class="lol_select">
      <button class="btn btn-default">
          <img src="/assets/lol_logo.png"> Leauge of Legends
     </button>
    
  </div>
  <div class="csgo_select">
      <button class="btn btn-default">
          <img src="/assets/csgo_logo.png"> CS:GO
     </button>
     
  </div>
  
</div>
<div class="hotmatch">
  <div class="streambox" *ngFor="let stream of twitchTVStream">
        <img src="{{stream.imgurl}}" alt="">
        <div class="overlay"></div>
        <div class="title"> {{stream.display_name}}</div>
        <div class="button"><a href="{{stream.url}}"> BUTTON </a></div>
  </div>
</div>