.select_match
{
    display: flex;
    justify-content: center;
    
}

.select_match img
{
    width: 50px;
    height: 50px;
}


.lol_select
{
   order: 1;
   background-color: rgba(51, 49, 49, 0.315);
}

.csgo_select
{
  order: 2;
  background-color: rgba(51, 49, 49, 0.315);
}

.streambox
{
   position: relative;   
   display: inline;
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

.streambox:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }


.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.title {
    position: absolute;
    width: 300px;
    left: 0;
    top: 420px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }

.streambox:hover .title {
    top: 40px;
}

.button {
    position: absolute;
    width: 300px;
    left:0;
    top: 0;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .streambox:hover .button {
    opacity: 1;
  }
  
img
{
    display: inline-block;
    width: 300px;
    height: 300px;
}