<nav class="navbar navbar-light bg-light">
    <form class="form-inline" (ngSubmit)="searchTeam(term)">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" [(ngModel)]="term" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search Team</button>
    </form>
  </nav>


<div class="container" *ngFor="let match of model">
 
    <div class="streambox" >     
     <h3>{{match.description}}</h3> 
     <p>{{match.scoreTeam1}}</p> 
     <p>{{match.scoreTeam2}}</p> 
     <p>{{match.startDate}}</p> 
     <p>{{match.team1}}</p> 
     <p>{{match.team2}}</p>
    </div>
  
</div>