<div class="container">
 
        <h3>Esl One Cologne</h3>
 
   
    <div class="row ">
        <div class="col">
            <img src="{{match.firstTeam.logoImg}}" alt="{{match.firstTeam.name}}">
        </div>
        <div class="col info">
            <p>SemiFinal</p> <br>
            <p>{{match.time}}</p> <br>
            <p>{{match.date.toDateString()}}</p>
        </div>
        <div class="col">
          <img src="{{match.secondTeam.logoImg}}" alt="{{match.secondTeam.name}}">
        </div>  
    </div>
  
</div>