<div class="py-5"> 
  <div class="container">
    <div class="row product">
      <div class="cod-md5 col-md-offset-0">
        <h2>Nazwa Mapy</h2>
        <img class="img=responsive" src="assets/summoners_rift.jpg/" style="height:225px;width:400px;" alt="Obazek Mapu"/>
      </div>
      <div class="col-md-6">
        <h2>Nazwa turnieju</h2>
        <p>Opis turnieju</p>
        <h3>Format Rozgrywki</h3>
        <h3>Typ rozgrywki</h3>
        <h3>Liczba graczy/drużyn</h3>
        <h3>Kiedy start</h3>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" type="button">Edytuj</button>
      </div> 
    </div>
    <div class="row product">
      <div class="cod-md-12 col-md-offset-0">
        <h2>Mecze</h2>
      </div>
    </div>
    <div class="row product">
      <div class="table-responsive col-md">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Gracz/Drużyna 1</th>
              <th>Gracz/Drużyna 2</th>
              <th>Wynik</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
            <tr>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row product">
      <div class="col-md-10 col-md-offset-0" style="padding:0px;">
        <h2>Drabinka turniejowa</h2>
      </div>
      <div class="col-md-2 col-md-offset-0">
        <button id="add" class="btn btn-primary" type="button">Generuj drabinkę</button>
      </div>
    </div>
    <div class="row product">
      <div class="col-md-12 col-md-offset-0">
      </div>
    </div>
  </div>
</div> 
<div class="brackets" id="brackets">
  </div>